<table class="table table-striped">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ book.name }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ book.price }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ book.author }}</td>
        </tr>
        <tr>
            <th>Short Description</th>
            <td>{{ book.shortDesc }}</td>
        </tr>
    </tbody>
</table>
<div class="modal-footer">
    <a routerLink="/home" class="cancelbtn btn btn-warning">Back To List</a>
</div>