
  /* Extra style for the cancel button (red) */
  .cancelbtn:hover {
    background-color: orange;
    cursor: pointer;
  }

  .savebtn, .cancelbtn {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 0.5;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }

  .savebtn:hover {
    background-color: green;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: inherit;
}